.home-page{
    background-image: url(./../assets/background.png);
    height: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    background-color: rgba(180, 118, 118, 0.721);
    color: white;
    font-size: 4vw;
    text-align: center;
    width: 50vw;
    border-radius: 5%;

}
.home-page-details{
    position: relative;
    bottom: 10%
    
}
.options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3vw;
}
.cube-info{
    background-color: aqua;
    width: 30vw;
    height: 30vw;
}