.form{
    margin-top: 1vw;
    margin-left: 2vw;
    font-size: 2rem;
    display: inline-block;
}

.result{
    height: 30vw;
    width: 30vw;
    background-color: #f1e9e9;
    margin-left: 40vw;
    margin-top: -35vw;
    border-radius: 8%;
    box-shadow: 5px 5px 5px ;
    display: none;
}
.block{
    display: block;
}